* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	height: 100vh;
	background: url(/img/verhnog.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8%;
	box-shadow: 0 15px 15px #000;
}
header .logo {
	font-size: 20px;
	font-weight: 900;
	color: #000;
}

header .logo:hover {
	transform: calc(1.1);
}

header nav ul li {
	position: relative;
	float: left;
}
header nav ul li a {
	padding: 15px;
	color: #000;
	font-size: 14px;
	display: block;
}

header nav ul li a:hover {
	background: #000;
	color: #fff;
}
nav ul li ul {
	position: absolute;
	left: 0;
	width: 120px;
	background: #fff;
	display: none;
}

nav ul li ul li {
	width: 100%;
	border: 1px solid rgb(0, 0, 0, 0.1);
}

nav ul li ul li ul {
	left: 130px;
	top: 0;
}

nav ul li:hover > ul {
	display: initial;
}
